<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/static/styleContact.css">
  <title>Contact</title>
</head>

<body>
  <section class="one">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, debitis. Perferendis doloribus quia et laboriosam
      accusantium. Veritatis, molestiae quos laboriosam quis illum facere enim est ad fugit magni architecto at.
    </p>

    <ul class="social-links">
      <li><a href="">testing</a></li>
      <li><a href="">testing2</a></li>
      <li><a href="">testing3</a></li>
    </ul>

    <div class="maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9741479279073!2d101.08772467329399!3d4.5986537425372624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31caec61dca7e1b9%3A0x20b9eec99f0ea78c!2sIpoh%20City%20Council!5e0!3m2!1sen!2smy!4v1706354694107!5m2!1sen!2smy"
        width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <ul class="contact-list">
      <li class="address">
        <img src="" alt="">
        <p>6386, Jln Batu 5, Bangunan ABC, 42135 Ipoh, Perak</p>
      </li>
      <li class="phone">
        <img src="" alt="">
        <p>(843)5566 7788</p>
      </li>
      <li class="email">
        <img src="" alt="">
        <p>testing@website.com</p>
      </li>
    </ul>

    <div class="contact-form_container">
      <div class="contact">Contact Us</div>
      <form action="" class="contact-form">
        <input type="text" id="name" placeholder="Your Name"><br>
        <input type="text" id="email" placeholder="Your Email"><br>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea><br>
        <input type="submit" value="Send">
      </form>
    </div>
  </section>

  <!-- type 2 -->
  <section class="two">
    <h2>Contact Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, debitis. Perferendis doloribus quia et laboriosam
      accusantium. Veritatis, molestiae quos laboriosam quis illum facere enim est ad fugit magni architecto at.
    </p>

    <div class="contact-container">
      <div class="contact-form_container">
        <div class="contact">Contact Us</div>
        <form action="" class="contact-form">
          <input type="text" id="name" placeholder="Your Name"><br>
          <input type="text" id="email" placeholder="Your Email"><br>
          <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea><br>
          <input type="submit" value="Send">
        </form>
      </div>

      <div class="contact-box2">
        <ul class="contact-list">
          <li class="address">
            <img src="" alt="">
            <p>6386, Jln Batu 5, Bangunan ABC, 42135 Ipoh, Perak</p>
          </li>
          <li class="phone">
            <img src="" alt="">
            <p>(843)5566 7788</p>
          </li>
          <li class="email">
            <img src="" alt="">
            <p>testing@website.com</p>
          </li>
        </ul>

        <div class="maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9741479279073!2d101.08772467329399!3d4.5986537425372624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31caec61dca7e1b9%3A0x20b9eec99f0ea78c!2sIpoh%20City%20Council!5e0!3m2!1sen!2smy!4v1706354694107!5m2!1sen!2smy"
            width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <ul class="social-links">
          <li><a href="">testing</a></li>
          <li><a href="">testing2</a></li>
          <li><a href="">testing3</a></li>
        </ul>
      </div>
    </div>
  </section>
</body>

</html>