<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../templates/static/styleFooter.css">
  <title>Footer</title>
</head>

<body>
  <section class="one">
    <a href="#" class="logo">
      <img src="../templates/static/assets/wordpress-logo.png" alt="testpic">
    </a>

    <ul class="pages">
      <div class="title">Pages</div>
      <li><a href="">Home</a></li>
      <li><a href="">Product</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>

    <ul class="social-links">
      <li><a href=""><img src="" alt="">test1</a></li>
      <li><a href=""><img src="" alt="">test2</a></li>
      <li><a href=""><img src="" alt="">test3</a></li>
    </ul>
  </section>

  <section class="two">
    <a href="" class="logo">
      <img src="../templates/static/assets/wordpress-logo.png" alt="testpic">
    </a>

    <ul class="social-links">
      <li><a href=""><img src="" alt="">test1</a></li>
      <li><a href=""><img src="" alt="">test2</a></li>
      <li><a href=""><img src="" alt="">test3</a></li>
    </ul>


    <ul class="pages">
      <div class="title">Pages</div>
      <li><a href="">Home</a></li>
      <li><a href="">Product</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
    </ul>

    <ul class="contact-info">
      <div class="title">Contact Info</div>
      <li>+0827768866</li>
      <li>info@welcome.we</li>
      <li>ABC, Malcedonia, 33260</li>
    </ul>
  </section>
</body>

</html>