<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../templates/static/styleHeader.css">
  <title>Header</title>
</head>

<body>
  <section class="navbar one">
    <a href="#" class="logo">
      <img src="../templates/static/assets/wordpress-logo.png" alt="testpic">
    </a>

    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
    <div class="menu-item show">
      <ul class="pages">
        <li><a href="">Home</a></li>
        <li><a href="">Product</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <ul class="user">
        <li><a href="" class="signup">Sign Up</a></li>
        <li><a href="" class="login">Login</a></li>
      </ul>
    </div>
  </section>
</body>

</html>